@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #161e24;
  --background: #ffffff;
}

@layer base {
  html {
    font-family: var(--font-lato), system-ui, sans-serif;
    font-weight: 300;
  }
  
  body {
    @apply bg-background text-foreground;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-sans font-bold;
  }

  h1 {
    @apply text-4xl mb-6;
  }

  h2 {
    @apply text-3xl mb-4;
  }

  h3 {
    @apply text-2xl mb-3;
  }

  p {
    @apply mb-4;
  }
}
